<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/change_password.css">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>CHANGE PASSWORD</title>
</head>
<body class="container flex-center-center">
    <?php session_start(); ?>
    <form class="login_form flex-center-center" method="POST" action="/src/controllers/LoginController.php">
        <p>Change Password</p>
        <div class="inputs">
            <div class="change_password">
                <p>Current password</p>
                <input type="password" name="current_password" placeholder="Type current password" required/>
            </div>
            <div class="change_password">
                <p>New password</p>
                <input type="password" name="new_password" placeholder="Provide new password" required/>
            </div>
            <div class="change_password">
                <p>Confirm new password</p>
                <input type="password" name="confirm_password" placeholder="Confirm new password" required/>
            </div>
            <button type="submit">Change Password</button>
        </div>
    </form>

    <div class="image_container flex-center-center">
        <p class="header">AC Milan</p>
        <img src="/public/images/logo.png" alt="Club Logo"/>
        <p class="motto">Saremo una squadra di diavoli.
        I nostri colori saranno il rosso come  
        il fuoco e il nero come la paura che incuteremo agli avversari!</p>
    </div>
</body>
</html>
