<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/change_password.css">
    <link rel="stylesheet" type="text/css" href="public/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>CHANGE PASSWORD</title>
</head>
<body class="container flex-center-center">
        <form class="login_form flex-center-center">
            <p>Login Page</p>
            <p class="sub_header">Change your password</p>
            <div class="inputs">
                <div class="change_password">
                    <p>Current password</p>
                    <input type="password" placeholder="Type password from coach"/>
                </div>
                <div class="change_password">
                    <p>New password</p>
                    <input type="password" placeholder="Provide new password" />
                </div>
                <div class="change_password">
                    <p>Confirm new password</p>
                    <input type="password" placeholder="Confirm new password" />
                </div>
                <button>Login now</button>
            </div>
                
        </div>
        </form>

    <div class="image_container flex-center-center">
        <p class="header">AC Milan</p>
        <img src="public/images/logo.png" alt="Club Logo"/>
        <p class="motto">Saremo una squadra di diavoli.
        I nostri colori saranno il rosso come  
        il fuoco e il nero come la paura che incuteremo agli avversari!</p>
    </div>
</body>
</html>