<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/coach_dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>COACH DASHBOARD</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav_bar">
            <div>
                <img src="/public/images/logo.png" alt="Club Logo" />
            </div>
            <div class="hamburger-menu" id="hamburgerMenu">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="nav_buttons">
                <button class="active">Players</button>
                <button>Plan Training</button>
                <button class="new_player_button" id="newPlayerButton">Add a new Player</button>
                <button onclick="logout()">Logout</button>
            </div>
        </nav>
        <main class="main_container">
            <p>COACH DASHBOARD</p>
            <div class="players_grid" id="playersGrid"></div>
        </main>
    </div>

    <!-- New Player Form Modal -->
    <div id="newPlayerModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeNewPlayerForm">&times;</span>
            <h2>Add a New Player</h2>
            <form id="newPlayerForm">
                <label for="playerImage">Player Image:</label>
                <input type="file" id="playerImage" name="playerImage" accept="image/png, image/jpeg" required>

                <label for="playerName">Name:</label>
                <input type="text" id="playerName" name="playerName" required>

                <label for="playerSurname">Surname:</label>
                <input type="text" id="playerSurname" name="playerSurname" required>

                <label for="playerPosition">Position:</label>
                <input type="text" id="playerPosition" name="playerPosition" required>

                <label for="contractEndDate">Contract End Date:</label>
                <input type="date" id="contractEndDate" name="contractEndDate" required>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>



    <script src="../../src/scripts/coach_dashboard.js"></script>
</body>
</html>
