<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/coach_dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>COACH DASHBOARD</title>
</head>
<body>
    <div class="wrapper">
        <nav class="nav_bar">
            <div>
                <img src="public/images/logo.png" alt="Club Logo"/>
            </div>
            <div class="nav_buttons">
                <button>Players</button>
                <button>Plan Training</button>
                <button class="new_player_button">Add a new Player</button>
                <button>Logout</button>
            </div>
        </nav>
        <main class="main_container">
            <p>COACH DASHBOARD</p>
            <div class="players_grid">
                <div class="player">
                    <img src="public/images/giroud.png" alt="player">
                    <p>Oliver <span>Giroud</span></p>
                    <p>Striker</p>
                    <p>Contract valid until<span>15 July 2025</span></p>
                    <div class="manage_players"> 
                        <button>Add Statistics</button>
                        <button>Remove Player</button>
                    </div>  
            </div>
                <div class="player">Player 2</div>
            </div>
        </main>
    </div>
</body>

</html>