<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/league_news.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>LEAGUE NEWS</title>
</head>
<body>
    <nav class="nav_bar">
        <div>
            <img src="public/images/logo.png" alt="Club Logo"/>
        </div>
        <div class="nav_buttons">
            <a href="player_dashboard">My Profile</a>
            <a href="league_news" class="active">League News</a>
            <a href="#">Report Injury</a>
            <a href="#">Logout</a>
        </div>
    </nav>
    <main>
        <section class="news-article">
            <img src="public/images/news1.png" alt="News Image 1" class="news-image"/>
            <h2>Exciting Match Ends in a Draw</h2>
            <p>The latest league match between the top two teams ended in a thrilling draw. Read more about the highlights of the game...</p>
        </section>
        <section class="news-article">
            <img src="public/images/news2.png" alt="News Image 2" class="news-image"/>
            <h2>Star Player Injured During Training</h2>
            <p>One of the league's star players suffered an injury during a training session. Get the latest updates on his condition and expected recovery time...</p>
        </section>
        <section class="news-article">
            <img src="public/images/news1.png" alt="News Image 3" class="news-image"/>
            <h2>Upcoming Match Preview</h2>
            <p>Preview of the upcoming weekend match. Key players, strategies, and predictions for the exciting clash...</p>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media">
            <a href="#"><img src="public/images/facebook-icon.png" alt="Facebook Icon"/></a>
            <a href="#"><img src="public/images/twitter-icon.png" alt="Twitter Icon"/></a>
            <a href="#"><img src="public/images/instagram-icon.png" alt="Instagram Icon"/></a>
            <a href="#"><img src="public/images/whatsapp-icon.png" alt="WhatsApp Icon"/></a>
        </div>
    </footer>
    <div class="contact-button">
        <a href="mailto:coach@example.com">
            <img src="public/images/email-icon.png" alt="Email Icon"/>
        </a>
    </div>
</body>
</html>
