<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/player_dashboard.css">
    <title>PLAYER DASHBOARD</title>
</head>
<body>
    <nav class="nav_bar">
        <div>
            <img src="public/images/logo.png" alt="Club Logo"/>
        </div>
        <div class="nav_buttons">
            <button>My Profile</button>
            <button>League News</button>
            <button>Report Injury</button>
            <button>Logout</button>
        </div>
    </nav>
    <main>
        <section>
            <div>Player and last match stats + grade</div>
            <div>Last match feedback + injury reports</div>
            <div>Next week schedule</div>
            
        </section>
    </main>
    <footer>
        <div>Team page, news, coach contact etc (sth like social media thingy)</div>
    </footer>
    <div>fast contact</div>
</body>
</html>