<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/player_dashboard.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>PLAYER DASHBOARD</title>
</head>
<body>
    <nav class="nav_bar">
        <div>
            <img src="/public/images/logo.png" alt="Club Logo"/>
        </div>
        <div class="hamburger-menu" id="hamburgerMenu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="nav_buttons">
            <a href="/public/views/player_dashboard.html" class="active">My Profile</a>
            <a href="/public/views/league_news.html">League News</a>
            <a href="/public/views/report_injury.html">Report Injury</a>
            <a href="/src/controllers/logout.php">Logout</a>
        </div>
    </nav>
    <main id="playerDashboard">
        <!-- Player data will be populated here -->
    </main>
    <footer class="footer">
        <div class="social-media">
            <a href="#"><img src="/public/images/facebook-icon.png" alt="Facebook Icon"/></a>
            <a href="#"><img src="/public/images/twitter-icon.png" alt="Twitter Icon"/></a>
            <a href="#"><img src="/public/images/instagram-icon.png" alt="Instagram Icon"/></a>
            <a href="#"><img src="/public/images/whatsapp-icon.png" alt="WhatsApp Icon"/></a>
        </div>
    </footer>
    <div class="contact-button">
        <a href="mailto:coach@example.com">
            <img src="/public/images/email-icon.png" alt="Email Icon"/>
        </a>
    </div>
    <script src="../../src/scripts/hamburger_menu.js"></script>
    <script src="../../src/scripts/player_dashboard.js"></script>
</body>
</html>
