.sub_header{
    font-size: 22px;
}

.change_password{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.change_password p{
    padding: 0;
    margin: 0;
    font-family: Jura;
}

.footer{
    width: calc(100% - 80px);
}

button {
    background-color: #FB090B;
    color: #FFFFFF;
    border: none;
    padding: 12px 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-family: Jura;
    font-weight: 700;
    width: fit-content;
}


.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 100px);
}
