.sub_header{
    font-size: 22px;
}

.change_password{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.change_password p{
    padding: 0;
    margin: 0;
    font-family: Jura;
}

.footer{
    width: calc(100% - 80px);
}

button {
    background-color: #FB090B;
    color: #FFFFFF;
    border: none;
    padding: 12px 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-family: Jura;
    font-weight: 700;
    width: fit-content;
}


.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 100px);
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .login_form, .image_container {
        width: 100%;
        padding: 10px;
    }

    .change_password {
        flex-direction: column;
    }

    .change_password input {
        width: 100%;
        margin-bottom: 10px;
    }

    .form_footer {
        text-align: center;
    }

    .image_container {
        text-align: center;
    }

    .image_container img {
        width: 100px;
        margin-bottom: 10px;
    }

    .header {
        font-size: 1.5em;
    }

    .motto {
        font-size: 0.9em;
    }

    .login_form button {
        width: 100%; 
        padding: 10px;
    }
}
