body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #FFFFFF;
    font-family: 'Jura';
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

nav > div > img {
    width: 15em;
}

.nav_buttons {
    display: flex;
    gap: 20px;
}
button{
    border: none;
    padding: 10px 12px;
    border-radius: 20px;
    font-size: 18px;  
    font-weight: 500;
    background-color: #4A4A4A;
    color: #FFFFFF;
    cursor: pointer;
    width: 10em;
    font-family: 'Jura';
}

.active{
    background-color: #C6C6C6;
}

.new_player_button{
    background-color: #00430B;
}

nav > div > button:hover {
    background-color: #FB090B;
}

.main_container {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}


.main_container > p {
    font-size: 70px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.players_grid {
    display: grid;
    grid-template-rows: repeat(minmax(100px, 1fr));
    gap: 20px;
    width: 100%;
}

.player {
    background-color: #FB090B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.player > img{
    width: 10em;
}

.player > p{
    display: flex;
    flex-direction: column;
    align-items:start;
}

span{
    font-size: 32px;
}

.manage_players{
    display: flex;
    gap:20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu div {
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: #333;
    margin: 5px 0;
}

.injury-indicator {
    font-size: 40px;
    color: white;
    font-weight: bold;
}




@media (max-width: 768px) {
    .nav_buttons {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger-menu div {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 5px 0;
    }

    .nav_buttons.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .nav_buttons button {
        margin: 10px 0;
    }

    .players_grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .players_grid .player {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .players_grid .player img {
        width: 50%;
        height: auto;
        margin-bottom: 10px;
    }

    .players_grid .player p {
        font-size: 0.8em;
        text-align: center;
    }

    .manage_players button {
        width: 100%;
        margin-bottom: 10px;
        font-size: 0.8em;
        padding: 5px;
    }

    .injury-indicator {
        font-size: 1.2em;
    }

    .main_container p {
        font-size: 1.2em;
    }
}
