body {
    margin: 0;
    padding: 0;
    font-family: Jura;
    background-color: #EAEAEA;
}

.nav_bar {
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav > div > img {
    width: 15em;
}

.nav_buttons {
    display: flex;
    width: calc(100% - 15em);
    justify-content: space-evenly;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

a:hover {
    color: #EAEAEA;
}

a.active {
    color: #FB090B;
}

main {
    padding: 20px;
    overflow-y: auto;
}

section {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.news-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.news-article h2 {
    color: #FB090B;
    font-size: 24px;
    margin-bottom: 10px;
}

.news-article p {
    font-size: 16px;
    color: #000000;
    text-align: justify;
}

.footer {
    background-color: #303030;
    padding: 10px;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a img {
    width: 30px;
    height: 30px;
}

.contact-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.contact-button img {
    width: 50px;
    height: 50px;
}
